#education {
    background: #6ca8b149;
    padding: 40px 6%;
    border-radius: 10px;
    opacity: 0; /* Initially invisible */
    transform: translateY(30px); /* Initially shifted down */
    transition: opacity 1s ease, transform 1s ease; /* Transition effect */
  }
  
  #education.fade-in {
    opacity: 1; /* Fade in */
    transform: translateY(0); /* Move to original position */
  }
  
  #education h1 {
    font-size: 2.5rem;
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
  }
  
  .education-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
  }
  
  .education-item {
    background: linear-gradient(135deg, #84b581, #59a3ae); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    flex: 0 1 400px;
    min-width: 140px;
  }
  
  .education-item h2 {
    font-size: 1.8rem;
    color: #fff;
    margin-bottom: 10px;
  }
  
  .education-item .degree {
    font-weight: 500;
    font-size: 1.3rem;
    color: #f0f0f0;
    margin-bottom: 8px;
  }
  
  .education-item .date-range {
    font-size: 1.1rem;
    color: #f0f0f0;
    margin-bottom: 15px;
  }
  
  .education-item .description {
    font-size: 1.2rem;
    color: #f0f0f0;
    margin-top: 10px;
  }
  
  .tech-stack-title {
    font-size: 1.5rem;
    color: #f0f0f0;
    margin-top: 10px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .tech-stack {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    padding-bottom: 30px;
  }
  
  .tech-icon {
    background: rgba(255, 255, 255, 0.1);
    width: 75px;
    height: 90px;
    object-fit: contain;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
  
  .tech-icon:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  }
  
  /* Mobile Responsiveness */
  @media (max-width: 768px) {
    #education {
      padding: 30px 5%;
    }
  
    .education-container {
      flex-direction: column;
      gap: 30px;
    }
  
    .education-item {
      flex: 0 1 100%;
      padding: 15px;
    }
  
    .tech-stack-title {
      font-size: 1.3rem;
      width: 80%;
    }
  
    .tech-stack {
      gap: 20px;
    }
  
    .tech-icon {
      width: 60px;
      height: 70px;
    }
  }
  
  @media (max-width: 480px) {
    #education {
      padding: 20px 3%;
    }
  
    .tech-icon {
      width: 50px;
      height: 60px;
    }
  
    .tech-stack-title {
      font-size: 1.2rem;
      width: 90%;
    }
  }
  