@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:wght@100..900&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;

}

body {
  background: linear-gradient(to bottom, #84b581, #9dc0cb);
  min-height: 100vh;
  margin: 0;
  padding: 0;
}


a {
  text-decoration: none;
}

#title {
  padding-bottom: 50px;
  text-align: center;
  font-size: 2.5rem; 
  color: #fff; 
}

/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 10%;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.hero-text {
  flex: 1;
  max-width: 50%;
}

.hero-text h1 {
  font-size: 3.5rem;
  color: #fff;
  margin-bottom: 10px;
}

.hero-text h2 {
  font-size: 2rem;
  color: #f0f0f0;
  margin-bottom: 20px;
}

.hero-text h3 {
  font-size: 1.2rem;
  color: #f0f0f0;
  font-weight: 300;
  max-width: 500px;
  line-height: 1.5;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.hero-image img {
  width: 300px;  /* Adjust size */
  height: auto;
  border-radius: 50%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Projects Section */
.projects {
  padding: 80px 10%;
  background: inherit;
}

.project-container {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 60px;
  justify-content: center;
}

.project-container.reverse {
  flex-direction: row-reverse;
}

.project-image {
  width: 40%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

.project-content {
  width: 30%;
}

.project-content h2 {
  font-size: 1.9rem; 
  color: #fff; 
  margin-bottom: 10px;
}

.project-content p {
  font-size: 1.2rem;
  color: #f0f0f0;
  font-weight: 300;
  line-height: 1.5;
}

.project-content ul {
  margin-top: 10px;
  padding-left: 20px;
}

.project-content ul li {
  font-size: 1rem; 
  color: #f0f0f0;
  margin-bottom: 5px;
}
